header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

nav ul li a {
    color: white;
}

img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: lightblue;
}

img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    gap: 10x;
    padding: 10x;
    background: lightgrey
}

h1 {
    flex: 1;
    font-weight: bold;
    align-items: center;
    display: flex;
    color: thistle;
}

@media (max-width: 600px)  {
.container   
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #003366; /* optional for better look */
    color: white;
}